KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_RAW=spacecraft.telemetry.raw
KAFKA_CONSUMER_GROUP=telemetry-processor-group
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=telemetry
POSTGRES_USER=telemetry_user
POSTGRES_PASSWORD=telemetry_pass
SPACECRAFT_ID=SC-001
